*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --font-maven-pro: "Maven Pro", system-ui;
    --font-inconsolata: "Inconsolata", system-ui;
    --font-asap: "Asap", system-ui;

    --title-lg: 700 5.6rem/120% var(--font-asap);
    --title-md: 700 2.4rem/120% var(--font-asap);
    --title-sm: 700 1.6rem/120% var(--font-asap);

    --subtitle: 400 2.0rem/120% var(--font-inconsolata);

    --text-md: 400 1.6rem/140% var(--font-maven-pro);
    --text-sm: 400 1.4rem/140% var(--font-maven-pro);

    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;
}

