#intro {
  background: url(../assets/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;

  padding-block: 12rem 6rem;
  align-items: center;


  header {
    text-align: center;
    margin-bottom: 8rem;
    width: 680px;

    p:first-of-type {
      font: var(--subtitle);
      color: var(--gray-500);

      span{
        color: var(--red);
      }
    }

    h1{
        font: var(--title-lg);
        color: var(--gray-600);
    }

    p:last-of-type{
        font: var(--text-sm);
      color: var(--gray-400);
    }


  }

  #tags {
    display: flex;
  }

  img:nth-child(3) {
    width: 3.2rem;
  }
}
