#intro {
  background: url(../assets/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;

  padding-block: 12rem 6rem;
  align-items: center;


  header {
    text-align: center;
    margin-bottom: 8rem;
    width: 680px;

    p:first-of-type {
      font: var(--subtitle);
      color: var(--gray-500);

    }

    h1 {
      font: var(--title-lg);
      color: var(--gray-600);
    }

    p:last-of-type {
      font: var(--text-sm);
      color: var(--gray-400);
    }


  }

  #tags {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 8rem;
  }

  .tag {
    background-color: var(--gray-300);
    border-radius: 999px;

    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: .8rem;

    color: var(--gray-500);

    img {
      width: 2.4rem;
      height: 2.4rem;
    }

  }

  img:nth-child(3) {
    width: 3.2rem;
  }
}


#projects {
  background-color: var(--gray-200);

  display: flex;
  padding: 7.2rem 12rem 14rem 12rem;
  flex-direction: column;
  align-items: center;


  p {
    text-align: center;
  }

  .title-md {
    color: var(--gray-600);
    margin-block: .8rem 5.6rem;
  }

  #cards {
    width: 1040px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2.4rem;

  }

  .card {
    width: 330px;
    border-radius: 12px;
    background: var(--gray-300);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
    
    img {
      width: 306px;
      height: 156px;
      border-radius: 8px;
    }

    h3{
      color: var(--gray-600);
      margin-block: 2.4rem .8rem;
    }

    p{
      color: var(--gray-500);
      text-align: left;
    }

  }
}