.bg-image-intro {
    background: url(../assets/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-contacts {
    background: url(../assets/Background_Contacts.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
}

.title-md {
    font: var(--title-md);
}

.title-sm {
    font: var(--title-sm);
}

.subtitle {
    font: var(--subtitle);
}

.red{
    color: var(--red);

}

.purple {
    color: var(--purple);
}

.yellow {
    color: var(--yellow);
}

.green {
    color: var(--green);

}

.blue {
    color: var(--blue);

}